.copy {
  margin-top: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;

  background: $main-color;
  border-radius: $border-radius;
  padding: 5px 18px;
  color: #fff;
  font-size: 20px;

  &_text {
    max-width: calc(100% - 46px);
    overflow-x: auto;
    white-space: nowrap;
  }

  &_button {
    height: 21px;
    width: 23px;
    cursor: pointer;
  }
}
