.header {
  width: 100%;
  padding: 15px 0;
  background: $main-color;
  color: #fff;
  font-size: 30px;
  padding: 13px 0;
  &_inner {
    @include container;
  }

  @media (max-width: 900px) {
    font-size: 20px;
  }
}
