@import "./themes";
@import "./reset";
@import "./mixins";
@import "./common";
@import "./typography";
@import "./blocks/header";
@import "./blocks/title";
@import "./blocks/section";
@import "./blocks/preview";
@import "./blocks/copy";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

body {
  background: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.main {
  padding-top: 58px;
  &_inner {
    @include container;
  }

  &_title--first {
    margin-bottom: 30px;
  }

  &_title--second {
    margin-bottom: 30px;
    scroll-margin: 20px;
  }

  &_textarea {
    width: 100%;
    height: 257px;
    font-weight: 300;
    font-size: 20px;
    padding: 18px;

    border: 2px solid #8d8d8d;
    border-radius: $border-radius;
    transition: $transition;

    resize: none;

    &:hover,
    &:focus {
      border-color: #686666;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }

  &_button {
    margin-top: 24px;
    background: $main-color;
    border-radius: $border-radius;
    font-size: 20px;
    color: #fff;
    padding: 7px 50px;
    transition: $transition;

    &:hover {
      background: rgba($main-color, 0.8);
    }
  }
  @media (max-width: 700px) {
    padding-top: 35px;
  }
}

#preview_url {
  clip-path: url(#my-clip-path);
}

.shapes {
  position: absolute;
  height: 0;
  width: 0;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background-color: darkgrey;
  border-radius: $border-radius;
}

*::-webkit-scrollbar-thumb {
  background: rgba($main-color, 0.5);
  border-radius: $border-radius;
}

.wrong {
  display: none;
  color: tomato;
  font-weight: 700;
  &.active {
    display: block;
  }
}

form {
  width: 100%;
}
